/* Color Palette
# - #331D2C
# - #A78295
# - #977b95
# - #EFE1D1
*/

/* Global styles 
------------------------------------*/
body {
    background: #EFE1D1;
    font-family: "Exo", sans-serif;
}

/* Headings
------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 { 
    font-size: 20px;
}
h6 {
    font-size: 16px;
}


/* Header & Footer 
------------------------------------*/
header, footer {
    background: #331D2C;
    color:#ffffff;
}

/* Header -------- */

header img {
    width: 225px;
    height: 250px;
    border-radius: 25%;
}

/* Footer --------*/
footer a {
    color: #ffffff;
}



/* Work Experience
------------------------------------*/
.work-experience {
    background: #A78295;
}



/* Education
------------------------------------*/
.education {
    background:  #977b95;
}